<form action="/edit/<%= @edit.id %>" method="post">
   
      <p><input type="text" name="auteur" placeholder="Auteur"/></p>
      <p><textarea id="message" name="post[body]" class="form-control"><%= @edit.body %></textarea><p>
      <p><input type="submit" value="Envoyer"/><p>
    
  </form>