<form action="/edit/" method="post">
    <div id="edit">
      <p><input type="text" name="auteur" placeholder="Auteur"/></p>
      <p><textarea id="message" name="message"></textarea><p>
      <p><input type="submit" value="Envoyer"/><p>
    </div> <!-- Fin div message -->
  </form>