<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	  <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
    <title>pLog</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
